* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
}

.navbar__ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.navbar__li {
  padding: 30px;
  font-size: 25px;
}
