* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.navbar {
}

.navbar__ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.navbar__li {
  background-color: antiquewhite;
  padding: 30px;
  font-size: 30px;
}
